# Entornos virtuales
venv/
.env/
*.env

# Archivos de configuración locales
*.local
config/*.local

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de log
*.log

# Archivos de base de datos locales
*.sqlite3

# Archivos generados por tests
.coverage
htmlcov/
.pytest_cache/

# Archivos de sistema
.DS_Store
Thumbs.db

# Carpeta de compilación
build/
dist/
*.egg-info/

# Archivos de IDEs
.vscode/
.idea/

# Carpeta de almacenamiento temporal
tmp/
